<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Great+Vibes&family=Montserrat:wght@300;400;500;700;800;900&family=Ubuntu:wght@300;400;500;700&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/fontawesome/css/all.css">
      </head>
  <body onload="year()">
    <section id="top">
      <div class="navs-section">

  <nav class="navbar fixed-top bgColor">
  <a class="logo" href="#"> <img class="logo-img" src="images/Drew-removebg.png" alt=""> </a>
    <span class="my-navbar">
      <a class="my-navs" href="#">Home</a>
      <a class="my-navs" href="#profile">Profile</a>
      <a class="my-navs" href="#projects">Projects</a>
      <a class="my-navs" href="#contact">Contact</a>
    </span>
</nav>
