<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Me</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Great+Vibes&family=Montserrat:wght@300;400;500;700;800;900&family=Ubuntu:wght@300;400;500;700&family=Viaoda+Libre&display=swap" rel="stylesheet">
  </head>
  <body>
    <section id="top">
      <div class="navs-section">
        <a class="logo" href="#"> <img class="logo-img" src="images/Drew-removebg.png" alt=""> </a>
        <div class="navigations">
          <span class="links">Home</span>
          <span class="links">Blog</span>
          <span class="links">Contact</span>
        </div>

        <div class="intro">
          <h2 class="name"><span class="andrew">Andrew</span> Igbeinkutu</h2>
          <p class="title">Web developer</p>
        </div>
      </div>

    </section>

    <section id="projects">
      <h1 class="caption">Profile</h1>
      <p>I'm Andrew, a web developer who specialises on front end and back end development.</p>
    </section>
    <section id="blog">
      <h1 class="caption">Blog</h1>
    </section>

    <section id="contact">
      <h1 class="caption">Contact</h1>
      <form class="" action="index.html" method="post">
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="email" name="" placeholder="Email"><br><br>
        <textarea name="name" rows="8" cols="5gghf0" placeholder="Message"></textarea><br><br>
        <button type="submit" name="button">Submit</button>
      </form>
    </section>
  </body>
</html>
