<%- include("header"); %>
        <div class="intro">
          <h2 class="name"><span class="andrew">Andrew</span> Igbeinkutu</h2>
          <p class="title">Web developer</p>
        </div>
      <div class="scrolldown">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </section>

    <section id="profile">
      <h1 class="caption">Profile</h1>
      <div class="profile">
        <div class="content">
          <p>I'm Andrew, a freelance web developer from Nigeria. <p>I create beautiful and responsive websites using Front-end and Back-end technologies.</p></p>
        </div>
        <div class="profile-img">

        </div>
      </div>

      <div class="cv">
        <a href="/cv" target="_blank"><button  class="btn btn-outline-dark"type="button" name="button">View my Resume</button></a>
      </div>
      <div class="skills">
        <h4>Languages / Frameworks</h4>
        <p>HTML | CSS | Javascript | Bootstrap | JQuery | Node.js | React.js | MongoDB</p>
      </div>
    </section>
    <section id="projects">
      <div class="container">
      <h1 class="caption">Projects</h1>
      <div class="row">
      <div class="portfolio-site col">
        <h4 class="project-intro">My Portfolio Website</h4>
        <div class="desktop">
          <div class="desktop-screen"></div>
        </div>
        <div class="phone">
          <div class="phone-camera"></div>
          <div class="phone-screen"></div>
          <div class="phone-home-button"></div>
        </div>
        <div class="view">
          <a class="project-links" href="#"><button class="btn btn-outline-dark" type="submit" name="button">Visit site</button></a>
          <a class="project-links" href="https://github.com/andytheo/Portfolio" target="_blank"><button class="btn btn-dark" type="submit" name="button">View code</button></a>
        </div>
      </div>
      <div class="portfolio-site col">
        <h4 class="project-intro">Business cards project</h4>
        <div class="desktop">
          <div class="desktop-screen-2"></div>
        </div>
        <div class="phone">
          <div class="phone-camera"></div>
          <div class="phone-screen-2"></div>
          <div class="phone-home-button"></div>
        </div>
        <div class="view">
          <a class="project-links" href="https://sheltered-scrubland-98701.herokuapp.com/" target="_blank"><button class="btn btn-outline-dark" type="submit" name="button">Visit site</button></a>
          <a class="project-links" href="https://github.com/andytheo/Cards" target="_blank"><button class="btn btn-dark" type="submit" name="button">View code</button></a>
        </div>
      </div>
      </div>
      </div>
      </section>

    <section id="contact">
      <div class="container">
        <h1 class="caption">Contact</h1>
        <h3 class="need-a-site">Need a website or looking to hire?</h3>
        <form class="form-class" action="mailto:igbeinkutuandrew@yahoo.com" method="post">
          <input class="form-control mb-3 contact-form" type="text" name="" placeholder="Enter name">
          <input class="form-control mb-3 contact-form" type="email" name="" placeholder="Enter email">
          <textarea class="form-control contact-form" name="name" rows="5" cols="40" placeholder="Enter message"></textarea>
          <button class="btn btn-dark contact-button" type="submit" name="button">Send message</button>
        </form>
      </div>

    </section>

<%- include("footer"); %>
