/* font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Viaoda Libre', cursive; */
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

#top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7)) , url("../images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
  height: 650px;
  margin: -10px -10px 0;
}

.navs-section {
  display: grid;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin: 20px;
}

.navigations {
  color: white;
  text-align: right;
  margin-top: -80px;

}

.links {
  text-decoration: none;
  display: inline;
  padding: 0 20px 0 20px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  color: white;
  padding: 150px 100px 0;
  text-align: center;
}

.name {
  font-size: 3rem;
  font-family: sans-serif;
}
.andrew {
  color: #CDF0EA;
}

.title {
  font-size: 1.8rem;
  margin-top: -20px;
  font-weight: lighter;
}
#projects {
  padding-top: 40px;
  background-color: #FFF5FD;
  /* text-align: center; */
  /* height: 550px; */

}
.project-image {
  /* border-radius: 100%; */
  width: 45%;
  height: 75%;
  margin-left: 20%;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 10px grey;
}

.project-image:hover {
  margin-left: 15%;
  width: 55%;
  height: 80%;
}

.profile-info {
  display: grid;
  grid-template-columns: 50% 40%;
  /* grid-column-gap: 30px; */
}

.profile-description {
  padding: 30px;
  font-size: 1.5rem;
}
.skills {
  padding: 50px;
  text-align: center;
}

#contact {
  padding: 40px;
  background-color: #FFF5FD;
  height: 500px;
}
.contact-me {
  display: grid;
  grid-template-columns: 33% 50%;
  padding-left: 100px;
}
.contact-image {
  margin: -120px 0 0 170px;
  width: 600px;
}
.caption {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-decoration: underline;
  text-decoration-color: #BE0000;
  padding-bottom: 40px;
}

.get-in-touch {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  margin: -5px 0 30px;
  color: white;
  font-weight: bold;
}

.contact-form-div {
  background-color: #171717;
  padding: 30px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  }

  .submit-button {
    width: 90px;
    height: 27px;
    border-radius: 20px;
    background-color: white;
    /* outline: none; */
    font-size: 1.2rem;
    border: none;
  }

  input {
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    width: 220px;
    background-color: #171717;
    color: white;
  }

@media (max-width: 920px) {
  .contact-image-class {
    display: none;
  }
  .contact-me {
    display: grid;
    grid-template-columns: 68%;
    justify-content: center;
    padding-left: 0;
  }
}

#footer {
  height: 350px;
  background-color: #053742;
  display: grid;
  grid-template-columns: 50% 40%;
  column-gap: 100px;
  margin: -8px;
}

.icons {
  padding: 30px 0 0;

}
.icon-class {
  padding: 20px 0 10px;;
  color: black;

}

.icon-name {
  font-family: sans-serif;
  padding-left: 20px;
  font-size: 20px;
  color: lightgrey;
}
.footer-wrap {
  color: white;
  margin: 30px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.get-in-touch-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  /* outline: none; */
  font-size: 1.2rem;
  border: none;
}
